@use "src/app/shared/scss/variables" as v;

$toolbar_height: 80px;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

:host(.full-layout) {
  min-height: 100vh;
  background-color: whitesmoke;
  display: block;
}

mat-toolbar {
  background: v.$white;
  height: $toolbar_height;
  margin-bottom: 8px;

  .logo {
    height: $toolbar_height * 0.8;
    margin-left: 16px;
    margin-right: auto;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

mat-sidenav {
  margin-left: 16px;
  width: 200px;
  border-right: none;
  background: v.$vtg-blue;
  color: v.$white;
  border-radius: 0 10px 0 0;
  padding: 16px;
  text-align: center;
  bottom: auto;
}

.content {
  min-height: calc(100vh - 88px - 16px);
  background-color: v.$vtg-blue-opac03;
  border-radius: 10px 0 0 10px;
  margin-left: 32px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}

mat-sidenav-container {
  flex-grow: 1;
  background-color: v.$white;
  padding-bottom: 16px;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-is-active {
  background-color: v.$white-opaque;
}
